@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");

/* General */
:root {
  /* Typography */
  --h1-font: 3.052rem;
  --h2-font: 2.441rem;
  --h3-font: 1.953rem;
  --h4-font: 1.563rem;
  --h5-font: 1.25rem;
  --body-font: 1rem;
  --caption-font: 0.8rem;

  /* Colors */
  --black-color: #000000;
  --white-color: #ffffff;
  --purple-color: #3f0071;
  --pink-color: #fb2576;
}

body {
  width: 120rem;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--black-color);
}

.search-input {
  height: 3rem;
  width: 25rem;
  outline: none;
  border-radius: 5rem;
  border: 1px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
  font-size: var(--h5-font);
  padding-left: 2rem;
}

.search-input:focus {
  border: 0.2rem solid var(--pink-color);
}

/* Header Section */
.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
  z-index: 1;
}

.header-container .header-title {
  all: unset;
  font-size: var(--h3-font);
  color: var(--white-color);
}

.header-container #search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  color: var(--white-color);
  position: absolute;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Slide Section */
.slide-container {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

.slide-container .movie-info-container {
  position: absolute;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-left: 5rem;
}

.slide-container .movie-title {
  font-size: var(--h1-font);
  font-weight: 600;
  color: var(--white-color);
}

.slide-container .movie-overview {
  width: 50rem;
  color: var(--white-color);
  top: 20rem;
  right: 5rem;
  font-size: var(--h4-font);
  line-height: 1.5;
}

.slide-container .learn-more {
  width: 11rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50rem;
  font-size: var(--h5-font);
  background-color: var(--pink-color);
  color: var(--white-color);
}

.slide-container .learn-more:hover {
  cursor: pointer;
  box-shadow: 5px 0px 30px 0px var(--pink-color);
}

/* Movies Section */
.main-container {
  margin-top: 5rem;
}

.main-container .count-movies {
  font-size: var(--h2-font);
  color: var(--white-color);
}

.main-container .movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin: 3rem auto;
  gap: 5rem;
  color: var(--white-color);
}

.movie-container .card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
  transform: perspective(80rem) rotate(0deg);
  transform-style: preserve-3d;
}

.movie-container .card-container:hover {
  transform: perspective(80rem) rotateY(180deg);
}

.movie-container .card-container .movie-info {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  margin: 0 2rem;
  height: 100%;
  backface-visibility: hidden;
}

.movie-container .card-container:hover .poster_img {
  filter: blur(3px) brightness(50%);
}

.movie-container .card-container .poster_img {
  height: 100%;
  /* filter: blur(3px) brightness(50%); */
}

.movie-container .card-container .title {
  font-size: var(--h3-font);
  font-weight: 500;
}

.movie-container .card-container .overview {
  font-size: var(--h5-font);
  line-height: 1.5rem;
}
.movie-container .card-container .vote_average {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;

  background-color: var(--purple-color);
  font-size: var(--h3-font);
  padding: 2rem;
  border-radius: 50%;
}

.card-container.hide {
  display: none;
}

.add-background {
  background-color: var(--purple-color);
}
