@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap");

/* General */
:root {
  /* Typography */
  --h1-font: 4rem;
  --h2-font: 2.441rem;
  --h3-font: 1.953rem;
  --h4-font: 1.563rem;
  --h5-font: 1.25rem;
  --body-font: 1rem;
  --caption-font: 0.8rem;

  /* Colors */
  --black-color: #000000;
  --white-color: #ffffff;
  --primary-color: #5800ff;
  --secondary-color: #ffc600;
}
html {
  font-size: 62.5%;
}

body {
  width: 150rem;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--black-color);
}

/* Header Section */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8rem;
  z-index: 1;
}

.header-container .header-title {
  all: unset;
  font-size: var(--h2-font);
  color: var(--secondary-color);
  font-weight: 600;
}

.header-container #search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.header-container .search-input {
  height: 4rem;
  width: 30rem;
  outline: none;
  border-radius: 5rem;
  border: 0.3rem solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
  font-size: var(--h4-font);
  padding-left: 2rem;
}

.header-container .search-input:focus {
  border: 0.3rem solid var(--secondary-color);
}

.header-container .material-symbols-outlined {
  color: var(--white-color);
  position: absolute;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Slide Section */
.slide-container {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 70rem;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

.slide-container .movie-info-container {
  position: absolute;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-left: 5rem;
}

.slide-container .movie-info-container .movie-title {
  width: 60rem;
  font-size: var(--h1-font);
  font-weight: 700;
  color: var(--white-color);
}

.slide-container .movie-info-container .movie-overview {
  width: 70rem;
  color: var(--white-color);
  top: 20rem;
  right: 5rem;
  font-size: var(--h3-font);
  line-height: 1.4;
}

.slide-container .movie-info-container .play-now-btn {
  width: 15rem;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: 50rem;
  font-size: var(--h4-font);
  background-color: var(--secondary-color);
  color: var(--black-color);
}

.slide-container .movie-info-container .play-now-btn:hover {
  cursor: pointer;
  box-shadow: 5px 0px 15px 0px var(--secondary-color);
}

/* Movies Section */
.main-container {
  margin-top: 5rem;
}

.main-container .count-movies {
  font-size: var(--h2-font);
  color: var(--white-color);
}

.main-container .movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  margin: 3rem auto;
  gap: 5rem;
  color: var(--white-color);
}

.main-container .movie-container .card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s;
  transform: perspective(80rem) rotate(0deg);
  transform-style: preserve-3d;
}

.main-container .movie-container .card-container:hover {
  transform: perspective(80rem) rotateY(180deg);
}

.main-container .movie-container .card-container .movie-info {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  margin: 0 2rem;
  height: 100%;
  backface-visibility: hidden;
}

.main-container .movie-container .card-container:hover .poster_img {
  filter: blur(3px) brightness(50%);
}

.main-container .movie-container .card-container .poster_img {
  height: 100%;
}

.main-container .movie-container .card-container .movie-info .title {
  font-size: var(--h1-font);
  color: var(--secondary-color);
  font-weight: 600;
}

.main-container .movie-container .card-container .movie-info .overview {
  font-size: var(--h3-font);
  line-height: 1.2;
}
.main-container .movie-container .card-container .movie-info .vote_average {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--secondary-color);
  color: var(--black-color);
  font-size: var(--h2-font);
  font-weight: 700;
  padding: 2rem;
  border-radius: 50%;
}

.card-container.hide {
  display: none;
}

.add-background {
  background-color: var(--primary-color);
}
